{# src/SFL2/ApplicationBundle/Resources/views/Utilisateur/utilisateur.html.twig #}
{{include("base.html.twig")}}

{% block  body %}
    <h1 style="text-align: center;">Gestion des Utilisateurs</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="utilisateurs/add" class="btn btn-success btn-md" role="button" aria-disabled="true">Ajouter un utilisateur</a>
    {% endif%}
    <p></br></p>
    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Fonction</th>
                <th scope="col">Identifiant</th>
                <th scope="col">Mot de passe</th>
                <th scope="col">Commentaires</th>
                <th scope="col">Modification</th>
            </tr>
        </thead>
        <tbody>

            {% for user in utilisateurs %}
           
                <tr>

                    <td>{{user.nom}}</td>
                    <td>{{user.prenom}}</td>
                    <td>{{user.fonction}}</td>
                    <td>{{user.login}}</td>
                    <td>{{user.motdepasse}}</td>
                    <td>{{user.commentaires}}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('sfl2_utilisateurs_edit', { 'id': user.id }) }}" class="btn btn-success btn-sm" role="button" aria-disabled="true">modifier</a>
                        <a href="" class="btn btn-success btn-sm" role="button" aria-disabled="true" data-toggle="modal" data-target="#delete_{{user.id}}">supprimer</a>
                       
                    </td>
                    
                </tr>
                <div class="modal fade" id="delete_{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Supression</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Voulez-vous vraiment supprimer {{user.NomPrenom}}?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
                      <a href="{{ path('sfl2_utilisateurs_del', {'id': user.id})}}" class="btn btn-success" role="button" aria-disabled="true">Oui</a>
                    </div>
                  </div>
                </div>
              </div>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>

                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Fonction</th>
                <th scope="col">Identifiant</th>
                <th scope="col">Mot de passe</th>
                <th scope="col">Commentaires</th>
                <th scope="col">Modification</th>
            </tr>
        </tfoot>
    </table>
    </div>
    
{% endblock  body %}
